<%- include("partials/header.ejs") %>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis container-color">
    <div class="col-lg-12 px-0 px-4 text-Center">
      <h1 class="display-4 fst-italic">About Reflective</h1>
      <p class="lead my-3 text-align-left">Welcome to Reflective, a blog dedicated to your journey of personal growth and self-discovery. Here, we believe that reflection is the key to understanding ourselves better, improving our lives, and becoming the best version of who we are. <br>

        At Reflective, we offer thoughtful insights, practical advice, and inspiring stories that guide you toward greater self-awareness, emotional well-being, and a more fulfilling life. From mindfulness and motivation to overcoming challenges and setting meaningful goals, our content is designed to help you reflect, grow, and thrive. <br>
        
        Our mission is to create a space where personal growth is nurtured, ideas are explored, and every reader can find something that resonates with their unique path. We aim to spark positive change through reflection, one article at a time. <br>
        
        Thank you for joining us on this journey of self-improvement and exploration. We’re excited to grow with you.</p>

        <p class="lead mb-0"><a href="/" class="text-body-emphasis fw-bold">Continue reading...</a></p>
     
    </div>
  </div>




<%- include("partials/footer.ejs") %>